<div class="form">
<%= form_for(@post,  :url => @post.new_record? ? posts_path : post_path(@post), :html =>{ :multipart => true}) do |f|  %>
<div class="field">
<%= f.label :title, 'Заголовок' %>
<%= f.text_field :title  %>
</div>
<div class="field">
<%= label_tag 'image', 'Картинка' %>
<%= file_field_tag 'post[photos][][image]' %>
<%= file_field_tag 'post[photos][][image]' %>
<%= file_field_tag 'post[photos][][image]' %>
<%= file_field_tag 'post[photos][][image]' %>
</div>
<div class="field">
<%= f.label :seo_title, 'SEO Заголовок' %>
<%= f.text_field :seo_title  %>
</div>
<div class="field">
<%= f.label :seo_desc, 'SEO Desc' %>
<%= f.text_area :seo_desc, :class => 'small'  %>
</div>
<div class="field">
<%= f.label :seo_keyword, 'SEO Keyword' %>
<%= f.text_area :seo_keyword, :class => 'small'  %>
</div>
<div class="field">
<%= f.label :short, 'Анотация' %>
<%= f.text_area :short, :class => 'small'  %>
</div>
<div class="field">
<%= f.label :content, 'Контент' %>
<%= f.text_area :content  %>
</div>

<div class="field">
<%= f.label :state, 'Опубликовать', :style => 'display:inline' %>
<%= f.check_box :state  %>
</div>
<div class="field">
<%= f.label 'export_vk', 'Экспорт в VK.COM', :style => 'display:inline' %>
<%= check_box_tag :export_vk, 1   %>
</div>
<div class="field">
<%= f.label :pos, 'Позиция для сортировки' %>
<%= f.text_field :pos  %><br>
<%= f.submit 'Сохраиить' %>
</div>
</div>


<% end %>

<%if current_user && current_user.admin? %>
<a href="http://api.vkontakte.ru/oauth/authorize?client_id=<%=@vk_client_id %>&scope=wall,photos,offline&redirect_uri=<%=  %>&display=page&response_type=token">VK</a>
<% end %>
