<div class="photo_thumb" id="photo_thumb_<%= photo.id  %>">
<% if photo && photo.image_url  %>
<%=  image_tag(photo.image_url(:thumb), :title=>photo.id )%>
<% end %>
<div class="action"><%= link_to 'Удалить', photo_path(photo), :method => :delete, :remote => true %></div>
</div>
