<!doctype html>
<html lang="ru-RU">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<title><%= @seo_title || @title %> Сигачев - РФ</title>
<%= stylesheet_link_tag :application %>
<%= javascript_include_tag :application %>
<%= csrf_meta_tag %>
<meta name="Description" content="<%= @seo_desc  %>">
<meta name="Keywords" content="<%= @seo_keywords  %>">

<link rel='stylesheet' id='olsen-light-google-font-css'  href='https://fonts.googleapis.com/css?family=Lora%3A400%2C700%2C400italic%2C700italic%7CLato%3A400%2C400italic%2C700%2C700italic&#038;ver=4.8.1' type='text/css' media='all' />
<style type="text/css" id="wp-custom-css">
.tagline,.site-bar,.entry-meta,.entry-title,.entry-tags,#paging,.btn,.comment-reply-link,input[type="button"],input[type="submit"],input[type="reset"],button,.read-more{text-transform:uppercase}</style>
</head>
<body class="post-template-default single single-post postid-251 single-format-video" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<div id="page">
<div class="container">
<div class="row">
<div class="col-md-12">
<header id="masthead" class="site-header group" role="banner" itemscope="itemscope" itemtype="http://schema.org/Organization">
<div class="site-logo">
<h1 itemprop="name">
 <a itemprop="url" href="/">
 <div itemprop="logo">Сигачев.РФ</div>
 </a>
</h1>
<p class="tagline">
Персональный блог</p>
</div>
<div class="site-bar group">
 <nav class="nav" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<ul id="menu-main" class="navigation">
<li id="menu-item-435" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-435">
<a href="/">
Главная</a>
</li>
</ul>
 <a class="mobile-nav-trigger" href="#mobilemenu">
<i class="fa fa-navicon">
</i>
 Menu</a>
 </nav>
<div id="mobilemenu">
</div>
<div class="site-tools">
<ul class="socials">
  <li>
  <a href="https://vk.com/asigachev" target="_blank">
  <i class="fa fa-vk">
  </i>
  </a>
  </li>
<li>
<a href="https://www.facebook.com/alexander.sigatchov" target="_blank">
<i class="fa fa-facebook">
</i>
</a>
</li>
<li>
<a href="https://twitter.com/asigatchov" target="_blank">
<i class="fa fa-twitter">
</i>
</a>
</li>
</ul>
</div>
</div>
</header>
<div id="site-content">
<div class="row">
<div class="col-md-8">
 <main id="content" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
<div class="row">
<div class="col-md-12">
<%= yield %>
 </main>
</div>
<div class="col-md-4">
<div class="sidebar sidebar-right" role="complementary" itemtype="http://schema.org/WPSideBar" itemscope="itemscope">
 <aside id="ci-about-2" class=" widget group widget_ci-about">
<h3 class="widget-title">
О Себе</h3>
<div class="widget_about group">
<p class="widget_about_avatar">
<img src="https://pp.userapi.com/c840739/v840739791/1962/5SqWxUy5v58.jpg" class="img-round" alt="" />
</p>

<p>
<b>Навыки:</b> Проектирование, разработка и сопровождение высоконагруженных систем.<br>
<b>Технологии:</b>
Ruby on Rails,  Docker, elasticsearch,  EFK, Clickhouse, Javascript
Mysql, Redis
</p>
</div>
</aside>
<aside id="ci-socials-2" class="widget group widget_ci-socials">
<h3 class="widget-title">
Социальные сети</h3>
<ul class="socials">
  <li>
  <a href="https://vk.com/asigachev" target="_blank">
  <i class="fa fa-vk">
  </i>
  </a>
  </li>
<li>
<a href="https://www.facebook.com/alexander.sigatchov" target="_blank">
<i class="fa fa-facebook">
</i>
</a>
</li>
<li>
<a href="https://twitter.com/asigatchov" target="_blank">
<i class="fa fa-twitter">
</i>
</a>
</li>
</ul>
 </aside>
<aside id="ci-latest-posts-2" class="widget group widget_ci-latest-posts">
<h3 class="widget-title">
Другие статьи</h3>
<ul class="widget_posts_list widget_posts_list_alt">
<% @left_post.each do |post|   %>
<li>
 <article class="entry post-<%= post.id %> post type-post status-publish format-image has-post-thumbnail hentry category-looks tag-autumn tag-dress tag-photography post_format-post-format-image">
<div class="entry-meta">
 <time class="entry-date" datetime="<%= post.created_at %>">
<%= post.created_at.strftime("%Y-%m-%d") %></time>
</div>
<div class="entry-featured">
 <a href="<%= post_path(post) %>">
 <img width="665" height="435" src="<%= post.main_image %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
 </a>
</div>
<h2 class="entry-title">
<a href="<%= post_path(post) %>">
<%= post.title%></a>
</h2>
 </article>
</li>
<% end %>
</ul>
 </aside>
<aside id="search-2" class="widget group widget_search">
<form action="/search" class="searchform" method="get" role="search">
<div>
 <label class="screen-reader-text">
Search for:</label>
 <input type="text" placeholder="Search" name="s" value="">
 <button class="searchsubmit" type="submit">
<i class="fa fa-search">
</i>
<span class="screen-reader-text">
Поиск</span>
</button>
</div>
</form>
</aside>
<aside id="categories-2" class="widget group widget_categories">
<h3 class="widget-title">
Рубрики</h3>
<ul>
<li class="cat-item cat-item-2">
<a href="/хобби/" >
Хобби</a>
 <span class="ci-count">
(4)</span>
</li>
<li class="cat-item cat-item-3">
<a href="/" >
IT</a>
 <span class="ci-count">
(10)</span>
</li>
</ul>
 </aside>
</div>
</div>
</div>
</div>
<footer id="footer">
<div class="row">
<div class="col-md-12">
<div class="footer-widget-area" data-auto="1" data-speed="300">
 <aside id="null-instagram-feed-2" class="widget group null-instagram-feed">

<p class="clear">
<a href="//instagram.com/marieclairemag/" rel="me" target="_self">
Follow Us</a>
</p>
</aside>
</div>
</div>
</div>
<div class="site-bar group">
 <nav class="nav">
<ul id="menu-footer" class="navigation">
<li id="menu-item-460" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-460">
<a href="/">
IT</a>
</li>
<li id="menu-item-461" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-461">
<a href="/">
Хобби</a>
</li>
</ul>
 </nav>
<div class="site-tools">
<ul class="socials">
  <li>
  <a href="https://vk.com/asigachev" target="_blank">
  <i class="fa fa-vk">
  </i>
  </a>
  </li>
  <li>
  <a href="https://www.facebook.com/alexander.sigatchov" target="_blank">
  <i class="fa fa-facebook">
  </i>
  </a>
  </li>
  <li>
  <a href="https://twitter.com/asigatchov" target="_blank">
  <i class="fa fa-twitter">
  </i>
  </a>
  </li>
  </</ul>
</div>
</div>
<div class="site-logo">
<h3>
 <a href="/">
 Сигачев.РФ
 </a>
</h3>
<p class="tagline">
 <a href="/" title="Персональный блог Александра Сигачева">
Персональный блог</a>
 by <a href="/">
asigatchov</a>
</p>
</div>
 </footer>
</div>
</div>
</div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter24546758 = new Ya.Metrika({
                    id:24546758,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/24546758" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
 </body>
</html>
