<div class="form">
<%= form_for(@post, :url => (@post.new_record? ? posts_path : post_path(@post)), :html =>{ :multipart => true}  ) do |f|  %>
<div class="field">
<%= f.label :title, 'Заголовок' %>
<%= f.text_field :title  %>
</div>
<div class="field">
<%= label_tag 'image', 'Картинка' %>
<%= file_field_tag 'post[photos][][image]' %>
<%= file_field_tag 'post[photos][][image]' %>
<%= file_field_tag 'post[photos][][image]' %>
<%= file_field_tag 'post[photos][][image]' %>
</div>
<div class="field">
<%= f.label :seo_title, 'SEO Заголовок' %>
<%= f.text_field :seo_title  %>
</div>
<div class="field">
<%= f.label :seo_desc, 'SEO Desc' %>
<%= f.text_area :seo_desc, :class => 'small'  %>
</div>
<div class="field">
<%= f.label :seo_keyword, 'SEO Keyword' %>
<%= f.text_area :seo_keyword, :class => 'small'  %>
</div>
<div class="field">
<%= f.label :short, 'Анотация' %>
<%= f.text_area :short, :class => 'small'  %>
</div>
<div class="field">
<%= f.label :content, 'Контент' %>
<%= f.text_area :content  %>
</div>

<div class="field">
<%= f.label :state, 'Опубликовать', :style => 'display:inline' %>
<%= f.check_box :state  %>
</div>
<div class="field">
<%= f.label 'export_vk', 'Экспорт в VK.COM', :style => 'display:inline' %>
<%= check_box_tag :export_vk, 1   %>
</div>

<div class="field" id="tags_list">
<% Tag.where(active: true).each do |tag| %>
<div style="display:inline;">
  <%= f.label "tag[#{tag.id}]", tag.title, :style => '' %>
  <%= check_box_tag "tag_ids[]", tag.id, @post.tags.include?(tag)  %>
</div>
<% end %>
</div>

<div class="field">
<%= f.label :pos, 'Позиция для сортировки' %>
<%= f.text_field :pos  %><br>
<%= f.submit 'Сохраиить' %>
</div>
</div>
<% end %>

