<% @posts.each do |post| %>
<article id="entry-<%=post.id %>" class="entry post-<%=post.id %> post type-post status-publish format-gallery has-post-thumbnail hentry category-fashion tag-autumn tag-dress tag-photography post_format-post-format-gallery" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
<div class="entry-meta entry-meta-top">
<p class="entry-categories">
<a href="/" rel="category tag">
IT</a>
</p>
</div>
<h2 class="entry-title" itemprop="headline">
<a href="<%= post_path(post) %>">
<%= post.title %></a>
</h2>
<div class="entry-meta entry-meta-bottom">
<time class="entry-date" itemprop="datePublished" datetime="<%= post.created_at %>">
  <%= post.created_at.strftime("%Y-%m-%d") %>
</time>
<% if false %>
<a href="https://www.cssigniter.com/preview/olsenlight/2016/09/16/next-level-mustache/#respond" class="entry-comments-no">
No Comments</a>
<% end %>>
</div>
<div class="entry-featured">
<a href="<%= post_path(post) %>">
<img width="665" height="435" src="<%= post.main_image %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" itemprop="image" />
</a>
</div>
<div class="entry-content" itemprop="text">
  <%= post.short %>
</div>
<div class="entry-utils group">
<a href="<%= post_path(post) %>" class="read-more">
Читать далее</a>
<% if current_user.try(:admin?)%>
<a href="<%= edit_post_path(post) %>" class="read-more">
Редактировать</a>
<% end %>
<ul class="socials">
<li>
<a href="https://www.facebook.com/sharer.php?u=<%= post_url(post) %>" target="_blank" class="social-icon">
<i class="fa fa-facebook">
</i>Персональный
</a>
</li>
<li>
<a href="https://twitter.com/share?url=<%= post_url(post) %>" target="_blank" class="social-icon">
<i class="fa fa-twitter">
</i>
</a>
</li>
<li>
<a href="https://plus.google.com/share?url=<%= post_url(post) %>" target="_blank" class="social-icon">
<i class="fa fa-google-plus">
</i>
</a>
</li>
</ul>
</div>
</article>
<% end %>
