<div class="row">
<div class="col-md-12">
<article id="entry-<%= @post.id %>" class="entry post-<%= @post.id %> post type-post status-publish format-video has-post-thumbnail hentry category-travel tag-autumn tag-dress tag-photography post_format-post-format-video" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
<div class="entry-meta entry-meta-top">
<p class="entry-categories">
 <a href="/" rel="category tag">
IT</a>
</p>
</div>
<h1 class="entry-title" itemprop="headline">
 <%= @post.title  %></h1>

<% if current_user.try(:admin?)%>
<div class="entry-utils group">
<a href="<%= edit_post_path(@post) %>" class="read-more">
Редактировать</a>
</div>
<% end %>

<div class="entry-meta entry-meta-bottom">
  <time class="entry-date" itemprop="datePublished" datetime="<%= @post.created_at %>">
    <%= @post.created_at.strftime("%Y-%m-%d") %>
  </time>
</div>
<div class="entry-featured">
 <a class="ci-lightbox" href="<%= @post.main_image %>">
 <img width="665" height="435" src="<%= @post.main_image %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" itemprop="image" />
 </a>
</div>
<div class="entry-content" itemprop="text">
  <%=  @post.content.html_safe %>
</div>
<div class="entry-utils group">
<ul class="socials">
<li>
<a href="https://www.facebook.com/sharer.php?u=<%= post_url(@post) %>" target="_blank" class="social-icon">
<i class="fa fa-facebook">
</i>
</a>
</li>
<li>
<a href="https://twitter.com/share?url=<%= post_url(@post) %>" target="_blank" class="social-icon">
<i class="fa fa-twitter">
</i>
</a>
</li>
<li>
<a href="https://plus.google.com/share?url=<%= post_url(@post) %>" target="_blank" class="social-icon">
<i class="fa fa-google-plus">
</i>
</a>
</li>
</ul>
</div>
<div id="paging" class="group">
 <a href="<%= post_path(@post.prev) %>" class="paging-standard paging-older">
Previous Post</a>
 <a href="<%= post_path(@post.next) %>" class="paging-standard paging-newer">
Next Post</a>
</div>


<div class="entry-related">
<h6>
Вам может понравиться</h6>
<div class="row">

<% @post.prev(3).each do |post_prev|  %>
  <div class="col-sm-4">
     <article class="entry post-<%= post_prev.id %> post type-post status-publish format-image has-post-thumbnail hentry category-looks tag-autumn tag-dress tag-photography post_format-post-format-image">
       <div class="entry-meta">
          <time class="entry-date" datetime="<%= post_prev.created_at %>"><%= post_prev.created_at.strftime("%Y-%m-%d") %></time>
       </div>
       <div class="entry-featured">
       <a href="<%= post_path(post_prev) %>">
           <img width="665" height="435" src="<%=  post_prev.main_image %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
        </a>
     </div>
     <h2 class="entry-title">
     <a href="<%= post_path(post_prev) %>"><%= post_prev.title %></a>
    </h2>
  </article>
 </div>
<% end %>

 </div>
 </div>



 </article>
 </div>
 </div>
